<div class="col-md-6 offset-md-3 mt-5">
  <div class="card card-outline-secondary">

    <div class="card-header">
      <h3 class="mb-0">Log In</h3>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
          <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Email is required!</div>
            <div *ngIf="f.email.errors.email">Email needs to be valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
          <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>

        <div class="mb-3">
          <button [disabled]="loading" class="btn btn-primary btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Log in
          </button>
          <a routerLink="../register" class="btn btn-link">Register</a>
        </div>

      </form>
    </div>

  </div>
</div>

